@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin abscenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//Media Query All in One
/*

1em = 16px
0-600px = 37.5em = phone
600-900 = 56.25em = tab-port
900-1200 = 75em = tab-land
1920< = 120em = big-desktop
*/

@mixin responsive ($breakpoint){
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em){
            @content
        };
    }
    
     @if $breakpoint == tab-port {
        @media only screen (max-width: 56.25em){
            @content
        };
    }
    
     @if $breakpoint == tab-land {
        @media only screen (max-width: 75em){
            @content
        };
    }
    
     @if $breakpoint == big-dektop {
        @media only screen (max-width: 120em){
            @content
        };
    }
}