$color-primary:#52A3FF;
$color-primary-light:#00FCFF;
$color-primary-light-1:#04dce8;
$color-primary-dark-1:#52B1BD;
$color-primary-dark:#4facfe;
$color-blue:#0C74CE;


$color-light-gray-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-light-gray-2:#b3b3b3;
$color-dark-gray:#3B3B3B;
$color-dark-gray-2:#333;
$color-white:#fff;
$color-black:#000000;

$color-secondary-light:#f9d423;
$color-secondary-dark:#f83600;

$color-tertiary-light:#38f9d7;
$color-tertiary-dark:#43e97b;

$default-font-size: 1.6rem;

//Grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:5rem;
$gutter-horizontal:6rem;